html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}

p {
    color: black;
    font-size: 2rem;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

h1, h2, h3 {
    margin: 0 0 1rem 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3.2rem;
}


.header{
    background-color: rgb(39, 1, 1);
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    max-width: 100%;
    box-shadow: rgb(255, 255, 255) 0px 0px 5px inset,black 1px 1px 10px;
}

.header__title{
    font-size: 2.2rem;
    margin-left: 1rem;
    text-shadow: white 0.1rem 0.1rem 0.3rem;
}

.nav__list{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
    background-color:rgb(39, 1, 1) ;
    width: 100%;
    position: absolute;
    top: 7rem;
    left: 0;
    
}
.nav__item{
    color: aliceblue;
    font-size: 1.7rem;
    margin-left: 2rem;
}

.hamburger__icon{
    height: 5px;
    width: 25px;
    margin: 5px;
    display: block;
    background-color: aliceblue;
    margin-right: 1rem;
}

.menu__active{
    display: flex;
}

/**scrool smoth*/

.colorBlock{
    min-height: 70vh;
    margin-top: 10rem;
    background: linear-gradient(to top,rgb(39, 1, 1),rgb(97, 1, 1) );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}
.content{
    opacity: 0;
    width: 70%;

}

.fade-Up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(229, 233, 233,0.5);
    opacity: 1;
    transition: all 0.8s ease;
    border-radius: 15px;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 90%;

}

#resizeElement{
    width: 30rem;
    color: blanchedalmond;
    border: solid 1px grey;
    white-space: nowrap;
    padding: 2rem;
    text-overflow: ellipsis;
    overflow: hidden;
    resize: horizontal;
}

/**animation 3D*/
#wrapper{
    perspective: 1000px;
    width: 400px;
    height: 400px;
    margin: 50px auto;
}

.cubo{
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
    transform:rotateX(0) rotateY(-39deg);
    transition: transform 2s ease-in-out;
}
.cubo:hover{
    transform: rotateX(280deg) rotateY(155deg);
    
}
.cubo div{
    position:absolute;
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    

}

.cubo div:nth-child(1){
  background-color: aquamarine;
  transform: translateZ(75px)
}
.cubo div:nth-child(2){
   background-color: blueviolet;
   transform: translateZ(-75px) rotateY(180deg);
}
.cubo div:nth-child(3){
   background-color: rgb(43, 76, 226);
   transform: rotateY(90deg) translateZ(-75px) rotateY(180deg);
}
.cubo div:nth-child(4){
   background-color: rgb(226, 183, 43);
   transform: rotateY(-90deg) translateZ(-75px) rotateY(180deg);
}
.cubo div:nth-child(5){
   background-color: rgb(126, 255, 94);
   transform: rotateX(90deg) translateZ(75px) rotateX(180deg) rotateY(180deg);
}
.cubo div:nth-child(6){
   background-color: rgb(226, 43, 67);
   transform: rotateX(90deg) translateZ(-75px) rotateY(180deg);
}